// ----------------------------------------------------------------------------
// COLOR

$color--text: #dfdfdf;
$color--accent: #ffff7f;
$color--bg: #383838;

$color-home-text: $color--text;
$color-home-bg: $color--bg;
$color-about-text: $color--text;
$color-about-bg: #586070;
$color-skill-text: #194c3f;
$color-skill-bg: #5f7a73;
$color-service-text: #742545;
$color-service-bg: #916979;
