@import '../styles/variables';

// ----------------------------------------------------------------------------
// Main

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.section-container {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: $width-lg;
}

.section-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.section-content {
  margin-top: 30px;
  width: 100%;
}

.social-links {
  display: flex;
  margin-top: 10px;

  a {
    margin: 0 10px;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    line-height: 1;
  }
}

.card {
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: $breakpoint-sm) {
  .section-title {
    font-size: 2.2rem;
  }
}

// ----------------------------------------------------------------------------
// Section Home

.section-home {
  background-color: $color-home-bg;

  .section-container {
    display: flex;
    justify-content: center;
  }
  .section-title {
    color: $color--accent;
  }
}

// ----------------------------------------------------------------------------
// Section About

.section-aboutme {
  background-color: $color-about-bg;

  .section-container {
    max-width: $width-md;
  }
}

// ----------------------------------------------------------------------------
// Section Skill

.section-skills {
  background-color: $color-skill-bg;

  .section-content {
    display: flex;
    justify-content: space-around;

    .skills-block {
      flex: 1;
      margin: 0 10px;
      padding: 20px;
      min-height: 240px;
    }
    .skills-title {
      font-size: 1.1rem;
      font-weight: bold;
      text-align: center;
      color: $color-skill-text;
    }
    .skills-content {
      margin-top: 10px;
      color: $color-skill-text;
    }
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .section-skills {
    .section-container {
      max-width: $width-md;
    }
    .section-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .skills-block {
        margin: 10px 0;
        min-height: auto;
      }
    }
  }
}

// ----------------------------------------------------------------------------
// Section Service

.section-service {
  background-color: $color-service-bg;

  .section-container {
    max-width: $width-md;
  }

  .section-content {
    display: flex;
    flex-direction: column;

    .service-block {
      display: flex;
    }
    .service-block-img {
      max-width: 320px;
      height: 240px;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
    }
    .service-block-summary {
      display: flex;
      flex-direction: column;
      flex: 1;

      padding: 20px;
    }
    .service-header {
      display: flex;
    }
    .service-title {
      font-size: 1.1rem;
      font-weight: bold;
      color: $color-service-text;
    }
    .service-content {
      flex: 1;
      padding-top: 10px;
      color: $color-service-text;
      font-size: 0.9rem;
    }
    .service-footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      a {
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
        line-height: 1;

        color: $color-service-text;
        &:hover,
        &:active,
        &.active {
          color: $color--accent;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .section-service {
    .section-container {
      max-width: $width-sm;
    }

    .section-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .service-block {
        display: flex;
        flex-direction: column;
      }
      .service-block-img {
        max-width: 480px;
        max-height: 360px;
        height: auto;
      }
    }
  }
}
