@import '../../styles/variables';

.header {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;

  height: 64px;
  padding: 10px;

  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  background-color: $color--bg;

  nav {
    ul {
      display: flex;
      flex: 1;
    }
    li {
      list-style: none;
      padding: 0 8px;
    }
    a {
      display: inline-block;
      padding: 0 8px;
      line-height: 40px;
      cursor: pointer;
    }
  }
}
