@use '../../styles/variables' as var;

.footer {
  display: flex;
  flex: 1;
  height: 40px;
  background-color: var.$color--bg;
  justify-content: center;
  align-items: center;
  padding: 0 16px;

  .text {
    font-size: 0.8rem;
  }
}
